<h1>Angular Data Binding Example</h1>
<hr>

<p>
  In this example we will look at data bindings which allow us to reference data from our .ts files in our html code. Binding data is really important since it allows for dynamic content. We can even bind data from one component to another.
  <br>
  <br>
  We can either use a one-way binding by using [property]="someVariable" or [(ngModel)]="someVariable" for a two-way binding.
  <br>
  For binding properties we use [...] but whenever we want to bind to an event we need (...) and that's why we have to use both [(...)] for two-way bindings.
</p>

<table>
  <thead>
    <tr>
      <th>
        Type
      </th>
      <th>
        Syntax
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        String Interpolation
      </td>
      <td>
        {{"{{expression}}"}}
      </td>
    </tr>
    <tr>
      <td>
        One-way
      </td>
      <td>
        [target]="expression"
      </td>
    </tr>
    <tr>
      <td>
        Event
      </td>
      <td>
        (target)="expression"
      </td>
    </tr>
    <tr>
      <td>
        Two-way
      </td>
      <td>
        [(target)]="expression"
      </td>
    </tr>
  </tbody>
</table>

<app-todo-list></app-todo-list>

<br>
<br>

<!-- 
  Note that we subscribe to the showAlertClicked event of the child component and call onShowAlertClicked whenever the event is emitted to this component.
  We can pass the emitted data by using the $event variable
-->
<app-counter (showAlertClicked)="onShowAlertClicked($event)"></app-counter>